# Discord Bot Creds
# Delete the "#" in front of the lines below to use them.
#CLIENT_ID=
#DISCORD_TOKEN=
#GUILD_ID=
#AMP_USERNAME=
#AMP_PASS=
#AMP_API_BASE_URL=
# Update check time is based on a 24 hour clock. 5pm is 17:00.
#UPDATE_CHECK_TIME=
#UPDATE_CHANNEL_ID=
#CURSEFORGE_API_KEY=
#// Optional
#DISBOARD_CHANNEL_ID=
# Updates current dependencies to package versions, and installs missing.
#AUTO_UPDATE_DEPS=false
# If development, updates all dependencies to latest versions.
# If this is in the production enviroment, you will want to make this value "production".
# Use "production" to disable automatic dependency updates. (production, development)
#NODE_ENV=production
